*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1000px;
    background-color: #fafafa;
}
main{
    display: flex;
    width: 100%;
}
#banner{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 30px;
    margin-right: 15px;
    width: 100%;
}
#banner img{
    max-width: 380px;
    width: 60%;
    height: 570px;
}
#login{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 30px;
    margin-left: 15px;
    width: 100%;
}
#boxForm{
    max-width: 380px;
    width: 83%;
    height: 400px;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logoInstagram{
    display: flex;
    align-items: center;
    justify-content: center;
}
#logoInstagram img{
    width: 175px;
    height: 50px;
    margin: 30px auto 12px;
}
#formLogin{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 80%;
}
input[type="text"] {
    font-size: 12px;
    background-color: #fafafa;
    padding: 0 3% 0 3%;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    width: 93%;
    height: 36px;
    margin: 5px auto;
}
input[type="submit"] {
    background-color: #b2dffc;
    color: #fff;
    margin-top: 15px;
    border-radius: 5px;
    height: 30px;
    font-size: 13px;
    font-weight: bold;
    width: 100%;
    margin: 5px auto;
    border: none;
}
#lineForms{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 80%;
}
#lineForms span{
    text-align: center;
    text-transform: uppercase;
    color: #bbb;
    width: 10%;
    height: 16px;
    font-size: 14px;
}
#line{
    border-top: 1px solid #dbdbdb;
    width: 45%;
}
#linksForm{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}
#logFacebook{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}
#logFacebook a{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    width: 100%;
}
#logFacebook img{
    width: 15px;
    height: 15px;
}
#logFacebook span{
    color: #385185;
    font-weight: bold;
    font-size: 13px;
}
#forgotPassword{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 12px;
    margin-bottom: 20px;
    color: #373799;
}
#forgotPassword a, #secondboxForm a, #logFacebook a{
    text-decoration: none;
}
#secondboxForm{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    max-width: 380px;
    width: 83%;
    height: 70px;
    margin-top: 10px;
    column-gap: 5px;
    font-size: 14px;
}
#secondboxForm a{
    color: #4a95f6;
    font-weight: bold;
}
#getApp{
    display: flex;
    flex-direction: column;
    max-width: 380px;
    width: 83%;
}
#textApp{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
    font-size: 13px;
}
#iconsApp{
    display: flex;
    justify-content: center;
    width: 100%;
    column-gap: 5px;
}
#iconsApp img{
    width: 136px;
    height: 40px;
}
#iconsApp img:hover{
    cursor: pointer;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 70px 30px;
    color: #8e8e8e;
    font-size: 12px;
}
#footerList{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 700px;
    margin-bottom: 20px;
}
#footerList ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%;
}
#footerList a{
    text-decoration: none;
    color: #8e8e8e;
}
#footerText{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media screen and (max-width:768px){
    #banner{
        display: none;
    }
    #login{
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }
    footer{
        display: none;
    }
}